<div class="container">
  <h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.category %></td>
        <td><%= link_to 'Show', restaurant %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
<h3><%= link_to "Add a restaurant", new_restaurant_path %></h3>
</div>
